@mixin cellSize($size) {
    width: $size;
    height: $size;
    line-height: $size;
}

@media (max-width: 768px) {
    td.msw-board-cell {
        @include cellSize(1.2em);
    }
}

@media (min-width: 769px) {
    td.msw-board-cell {
        @include cellSize(2em);
    }
}

td.msw-board-cell {
    display: inline-block;
    margin: 0.1em;
    background-color: #c5c5c5;

    text-align: center;

    cursor: pointer;

    &.msw-revealed {
        background-color: #f7f8f9;
    }

    &.msw-flagged {
        background-color: #e0e0ff;
        background-image: url('../../assets/images/flag.svg');
    }

    &.msw-mine {
        background-color: #d28888;  
        background-image: url('../../assets/images/mine.svg');
    }
}