td.msw-board-cell {
    $cell-perim: 2em;

    display: inline-block;
    width: $cell-perim;
    height: $cell-perim;
    margin: 0.1em;
    background-color: #c5c5c5;
    line-height: $cell-perim;

    cursor: pointer;

    &.msw-revealed {
        background-color: #f7f8f9;
    }

    &.msw-flagged {
        background-color: #e0e0ff;
        background-image: url('../../assets/images/flag.svg');
    }

    &.msw-mine {
        background-color: #d28888;  
        background-image: url('../../assets/images/mine.svg');
    }
}