section.msw-board {
    max-width: 80%;
    margin: 0 auto;
    border: 3px solid transparent;

    table.msw-board-grid {
        border-collapse: collapse;

        margin: 0 auto;
        overflow: auto;
    }

}