@import '../../assets/styles/general.scss';

section.msw-settings {

    form.msw-settings-form {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        margin-bottom: 0.4em;

        div.msw-settings-input-container {
            position: relative;

            label.msw-settings-label {
                display: block;
                position: absolute;
                top: -1em;
                left: 0.3em;

                color: $msw-primary-color;
            }

            input.msw-settings-input {
                width: 6em;
                height: 2em;
                margin: 0.4em 0.4em;

                outline: none;
            }
        }
        
        input[type='submit'].msw-settings-generate {
            width: 7em;
            height: 3em;
            margin: 0.4em;
            padding: 0.4em;

            background-color: $msw-primary-color;
            outline: none;
            border: 1px solid #905656;
            border-radius: 2px;

            color: #464646;
            font-size: 14px;
            font-weight: bold;
            white-space:normal;

            cursor: pointer;
        }

    }
    
    div.msw-settings-stats {
        div.msw-settings-stats-flags {
            display: inline-block;
            
            font-size: 18px;
            font-weight: bold;

            line-height: 2em;

            img {
                float: left;
            }
        }
    }

}